h1 {
  text-align: center; }

.example {
  margin: 100px;
  position: relative;
  z-index: 99997; }
  .example .item {
    margin: 0 auto; }

.item {
  text-transform: uppercase;
  background: #ececec;
  color: #555;
  cursor: pointer;
  font-family: "Gill Sans", Impact, sans-serif;
  font-size: 20px;
  padding: 15px 20px;
  position: relative;
  z-index: 99998;
  text-align: center;
  width: 200px;
  -webkit-transform: translateZ(0);
  -webkit-font-smoothing: antialiased; }
  .item .tooltip {
    background: #1496bb;
    color: #fff;
    display: block;
    opacity: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 20px 10px 15px;
    pointer-events: none;
    position: absolute;
    z-index: 99999;
    -moz-transition: all 0.25s ease-out;
    -o-transition: all 0.25s ease-out;
    -ms-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28); }
    .item .tooltip:after {
      content: " ";
      position: absolute;
      width: 0; }
  .item.tt-top .tooltip {
    bottom: 120%;
    left: 50%;
    margin-left: -50%;
    -moz-transform: translateY(50px);
    -o-transform: translateY(50px);
    -ms-transform: translateY(50px);
    -webkit-transform: translateY(50px);
    transform: translateY(50px); }
    .item.tt-top .tooltip.left:after {
      left: 1px;
      right: auto; }
    .item.tt-top .tooltip.mid:after {
      left: 50%;
      margin-left: -10px; }
    .item.tt-top .tooltip.right:after {
      left: auto;
      right: 1px; }
    .item.tt-top .tooltip:after {
      bottom: -10px;
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-top: solid #1496bb 10px; }
  .item.tt-right .tooltip {
    left: 105%;
    top: -5%;
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px); }
    .item.tt-right .tooltip:after {
      left: -10px;
      border-top: solid transparent 10px;
      border-bottom: solid transparent 10px;
      border-right: solid #1496bb 10px; }
  .item.tt-bot .tooltip {
    top: 120%;
    left: 50%;
    margin-left: -50%;
    -moz-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px); }
    .item.tt-bot .tooltip.left:after {
      left: 1px;
      right: auto; }
    .item.tt-bot .tooltip.mid:after {
      left: 50%;
      margin-left: -10px; }
    .item.tt-bot .tooltip.right:after {
      left: auto;
      right: 1px; }
    .item.tt-bot .tooltip:after {
      top: -10px;
      border-left: solid transparent 10px;
      border-right: solid transparent 10px;
      border-bottom: solid #1496bb 10px; }
  .item.tt-left .tooltip {
    right: 105%;
    top: -5%;
    -moz-transform: translateX(50px);
    -o-transform: translateX(50px);
    -ms-transform: translateX(50px);
    -webkit-transform: translateX(50px);
    transform: translateX(50px); }
    .item.tt-left .tooltip:after {
      right: -10px;
      border-top: solid transparent 10px;
      border-bottom: solid transparent 10px;
      border-left: solid #1496bb 10px; }
  .item:hover .tooltip {
    opacity: 1;
    cursor: pointer;
    -moz-transform: translateY(0px);
    -o-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }

/*# sourceMappingURL=tooltip.css.map */
